.swiper-container {
	margin-top: 2em;
}

	.swiper-wrapper {
		margin-bottom: 3em;

		width: 73.8%;
	}

	@media (min-width: 37.5em) {
		.swiper-wrapper {
			width: 92%;
		}
	}

	@media (min-width: 43.75em) {
		.swiper-wrapper {
			width: 95%;
		}
	}

		.swiper-slide.swiper-slide {
			width: 100%;
		}


		@media (min-width: 37.5em) {
			.swiper-slide.swiper-slide  {
				width: 50%;

				transform: translateX(-50%);
			}
		}

		@media (min-width: 43.75em) {
			.swiper-slide.swiper-slide  {
				width: 33.33333333333%;
				transform: translateX(-100%);
			}
		}

		@media (min-width: 53em) {
			.swiper-slide.swiper-slide  {
				width: 25%;
				transform: translateX(-150%);
			}
		}

		.swiper-pagination {
			display: block;
		}

		@media (min-width: 37.5em) {
			.swiper-pagination {
				display: none;
			}
		}

		.swiper-button-prev {
			display: none;
			left: 0;
			top: 0;
			margin-top: 0;
			height: calc(100% - 3em);
			background-color: #fff;
		}

		@media (min-width: 37.5em) {
			.swiper-button-prev {
				display: block;
			}
		}

		.swiper-button-next {
			display: none;
			right: 0;
			top: 0;
			margin-top: 0;
			height: calc(100% - 3em);
			background-color: #fff;
		}

		@media (min-width: 37.5em) {
			.swiper-button-next {
				display: block;
			}
		}

/* ==========================================================================
   content in swiper
 ========================================================================== */

.product {
	margin-left: auto;
	margin-right: auto;
	width: 82%;
}
	.photograph {
		display: block;
		height: auto;
		width: 100%;
	}
	.product__name.product__name {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
		font-size: calc(.5em + 5vw);
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
	}
	@media (min-width: 37.5em) {
		.product__name.product__name {
			font-size: .92em;
		}
	}
	.product__description {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
		font-size: calc(.3em + 5vw);
		font-weight: 300;
		line-height: 1.1;
		text-align: center;
	}
	@media (min-width: 37.5em) {
		.product__description {
			font-size: .92em;
		}
	}
